.box
        {
           
            padding: 0px;
             font-size:14px;
             font-family:微软雅黑;
              font-weight:bolder;
        }
        .box ul
        {
            margin: 0px;
            padding: 0px;
            list-style: none;
            border: 0;
        }
        .box ul li
        {
            margin: 0px 0px 0px 0px;
            padding: 0px;
            width: 195px;
            height: 50px;
            display: block;
            border-radius: 0px;
            border: 0;
            
            background-color: white;
        }
        .box ul li:hover
        {
            background-color: #F5f6f8;
            box-shadow: 0px 3px 3px #ccc;
        }
        
        .box ul li:hover ul
        {
            display: block;
        }
        
        .box ul li a
        {
            text-align: left;
            width: 175px;
            height: 50px;
            line-height: 50px;
            display: block;
            text-decoration: none;
        }
        .box ul li ul
        {
            display: none;
            position: relative;
            left: 175px;
            box-shadow: 3px 3px 3px #ccc;
        }
        .box ul li ul li
        {
            padding: 0px;
            background-color: #F5f6f8;
            border: 0;
        }
        
        .box ul li ul li a
        {
            text-align: left;
            width: 125px;
            height: 50px;
            line-height: 50px;
            display: block;
            margin-left:35px;
            text-decoration: none;
        }
        
         .box ul li ul li:hover
        {
            box-shadow: 0px 0px 0px #ccc;
        }
        
        
        
        .imgBox
        {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 25px;
            height: 50px;
            overflow: hidden;
        }
        .imgBox img
        {
            vertical-align: middle;
            border: 0;
        }